.cg{
    background-color: red;
    
}
.cm{
    background-color: rgba(255, 255, 255, 0.176);
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
    
    
    .cmc{
        box-sizing: border-box;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.998);
        width: 35vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(7px);
        overflow-y: scroll;

        .headform{
            
            display: flex;
            justify-content: space-between;
            
            margin: 0 1px;
            padding: 3px;
            img{
                
                width: 90px;
                height: auto;
                border-radius: 30px 20px 10px 3px;
            }
            button{
                width: 30px;
                height: 30px;
                transition: 0s;
                border: none;
                &:hover{
                    background-color: red;
                    color: white;
                }
               }
        }
        .form{
            margin: 17px 2%;
            display: flex;
            flex-direction: column;
            div{
                color: black;
                display: flex;
                flex-direction: column;
                margin-bottom: 2% ;
                label{
                    text-transform: uppercase;
                    font-family: 'roboto';
                    font-size: 20px;
                    color: black;
                    
                }
                .labelFile{
                    width: 100%;
                    height: 50px;
                    border-radius: 6px;
                    font-size: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                    border: 2px solid goldenrod;
                    text-align: center;
                    background: linear-gradient(135deg, #3498db, #8e44ad);
                    vertical-align: middle;

                    .icon{
                        margin-right: 2%;
                        font-size: 40px;
                        color: white;
                        
                    }

                } 
                
            }
            input , button{
                border: 2px solid rgb(0, 0, 0);
                width: 100%;
                height: 50px;
                border-radius: 6px;
                outline: none;
                text-align: start;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;

            }
            button{
                text-align: center;
                 background: linear-gradient(45deg, #ff7e5f, #feb47b);
                 .icon{
                    margin-right: 2%;
                    font-size: 30px;
                    color: white;
                    
                }
            }
        }
       
        
    }
    /* ----------------------------- hotel view style -----------------------------*/
    .hotelview{
        width: 100vw;
        height: 100vh;
        
        .hotelbody{
            width: 100%;
            height: 100%;
            display: flex;
            
            .hotelimage{
                width: 45%;
                height: 100%;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
            img{
                margin: 6px;
                width: 80%;
                height: 70%;
                border-radius: 6px;
            }
            p{
                margin: 6px;
                font-size: 40px;
                font-family: 'Cambria';
                color: rgb(255, 247, 0);
                box-shadow: 3px 6px 30px 0px rgb(229, 19, 211);
                background-color: rgba(0, 0, 0, 0.491);
                padding: 2px 10px;
                border-radius: 100px;
                transition: 2s ;

               &:hover{
                transform: scale(1.2);
                color: orangered;
               }
            }
            
        }
        .hotelinfo{
            
            width: 55%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            
            p{
                margin: 5px;
                font-size: 25px;
                span{
                    font-weight: bolder;
                    text-decoration: solid;
                    font-size: 30px;
                    color: rgb(71, 52, 52);
                    text-transform: uppercase;
                    text-decoration: dotted;
                    margin-left:  0 50px;
                }
            }
        }
    }
    }
   
    
}
