.cg{
    background-color: red;
}
.cm{
    background-color: rgba(41, 15, 15, 0.285);
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
    .cmc{
        background-color: rgba(243, 243, 243, 0.498);
        width: 35vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(7px);
       
        
    }
   
    
}
